 
# BEGIN WordPress
# Các nội dung nằm giữa `BEGIN WordPress` và `END WordPress` được tạo ra tự động, và chỉ nên được thay đổi thông qua các filter của WordPress. Mọi thay đổi tới thành phần này có thể sẽ bị mất và ghi đè.
<IfModule mod_rewrite.c>
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

RewriteEngine On
RewriteBase /9Team/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /9Team/index.php [L]


#METALOCATOR: This line added to allow basic authentication under FastCGI
#METALOCATOR: Establishes an environment variable used by the plugin only for URLs beginning with wp-json/
RewriteRule ^wp-json/.* – [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

</IfModule>



# END WordPress